.tortugas-container {
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    min-height: calc(100vh - 200px); /* Asegura que el contenedor sea al menos del tamaño de la ventana */
    padding-bottom: 50px; /* Espaciado extra para el botón */
  }
  
  
  /* Títulos */
  h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Botones */
  .tortugas-buttons .btn, form button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
  }
  
  .tortugas-buttons .btn:hover, form button:hover {
    background-color: #45a049;
  }
  
  /* Tablas */
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  table th {
    background-color: #4CAF50;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  /* Inputs y Textareas */
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input:focus, form textarea:focus {
    border-color: #4CAF50;
  }
  
  /* Links */
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  